<!DOCTYPE html>
<div class="background-image"></div>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form: SnapCrack</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="main">

    <section class="signup">

        <div class="container">
            <p align="center"><b><font size="30" color="black" align="center" >SnapCrack</font></b></p>
            <div class="signup-content">

                <form method="GET" action='/login' id="signup-form" class="signup-form">
                    <div class="form-group">
                        <button name="submit" id="submit" class="form-submit" value="Login"/>Login</button>
                    </div>
                </form>

                <form method="GET" action='/create' id="signup-form" class="signup-form">
                    <div class="form-group">
                        <button name="submit" id="submit" class="form-submit" value="Login"/>Create Account</button>
                    </div>
                </form>

                <form method="GET" action='/dashboard' id="signup-form" class="signup-form">
                    <div class="form-group">
                        <button name="submit" id="submit" class="form-submit" value="Login"/>Dashboard</button>
                    </div>
                </form>

            </div>
        </div>
    </section>

</div>
</body>
</html>